body{
    width: 2000px;
    height: 819px;
    flex-shrink: 0;
    margin: auto;
    background: url(https://img.freepik.com/free-photo/man-fishing-and-holds-the-angling-rod_1157-38073.jpg?w=1380&t=st=1703036765~exp=1703037365~hmac=22b564fbd4e98af7feb86a0dfbea2731d8927da039b35e7b1ef7cb9da0755937) lightgray 50% / cover no-repeat;
    height: 100%;
    color: #ffffff;
}

.header{
    display: flex;
    justify-content: space-around;
    margin-top: 24px;
    margin-bottom: 200px;
}

.menu-list{
    display: flex;
    list-style-type: none;
}

.menu-item:not(:last-child) {
    margin-right: 63px;
}

.menu-item a{
    text-decoration: none;
    color: #fff;
}

.main-text {
    font-weight: 500;
    font-size: 53px;
    line-height: 63px;
}

.button-order {
    all: unset;
    background: #f6762c;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding: 22px 55px;
}

.main{
    min-width: 500px;
}